{
	servers {
		enable_full_duplex
	}
}

:80 {
	#root * /srv
	#file_server

	log {

	}

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy rust-api:8086
	}

	handle /prediction/* {
		uri strip_prefix /prediction
		reverse_proxy prediction-server:8087
	}

	handle {
		reverse_proxy web-dev:3000 :9999 {
			lb_policy first

			health_uri /
			health_interval 30s
			health_timeout 2s
			health_status 2xx
			health_headers {
				Accept */*
			}
		}

	}
}

:9999 {
	root * /srv
	file_server
}