:80 {
	#root * /srv
	#file_server

	log {

	}

	handle /api/* {
		uri strip_prefix /api
		reverse_proxy rust-api:8086
	}

	handle /prediction/* {
		uri strip_prefix /prediction
		reverse_proxy prediction-server:8087
	}

	handle {
		reverse_proxy :9999 {
		}

	}
}

:9999 {
	root * /srv
	file_server
}